-i https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113 
torchvision==0.13.1+cu113
torchaudio==0.12.1
sentence-transformers
transformers
evaluate
datasets
nltk
spacy
loralib
einops
bitsandbytes
accelerate
peft
sacremoses
gensim
wandb
einops
trl
xformers
sentencepiece
nlpaug